.root {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.2rem;

  h3 {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  form {
    width: fit-content;
    display: flex;
  }

  .youtube__input {
    width: 22rem;
  }
}
