.root {
  padding: 10px 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #eee;
}

.participants__container {
  display: flex;
  margin-top: 0.8em;
}

.participant__avatar {
  width: 5rem;

  p {
    margin-bottom: 0;
  }
}

.participant__muted {
  color: red;
}

.participant__unmuted {
  color: blue;
}

h3 {
  display: inline;
  margin-right: 0.5em;
}
